.sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .sign-in__item {
      margin-bottom: 12px;

      & span {
        font-size: 12px;
        color: var(--io-color-error);
      }
    }
  }
}