@font-face {
  font-family: 'PT Root UI';
  src: url('src/assets/fonts/PT-Root-UI/PT-Root-UI.web/PT-Root-UI_Light.eot');
  src: local('PT Root UI Light'), local('PTRootUI-Light'),
    url('src/assets/fonts/PT-Root-UI/PT-Root-UI.web/PT-Root-UI_Light.woff2') format('woff2'),
    url('src/assets/fonts/PT-Root-UI/PT-Root-UI.web/PT-Root-UI_Light.woff') format('woff'),
    url('src/assets/fonts/PT-Root-UI/PT-Root-UI.ottt/PT-Root-UI_Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI';
  src: url('src/assets/fonts/PT-Root-UI/PT-Root-UI.web/PT-Root-UI_Regular.eot');
  src: local('PT Root UI Regular'), local('PTRootUI-Regular'),
    url('src/assets/fonts/PT-Root-UI/PT-Root-UI.web/PT-Root-UI_Regular.woff2') format('woff2'),
    url('src/assets/fonts/PT-Root-UI/PT-Root-UI.web/PT-Root-UI_Regular.woff') format('woff'),
    url('src/assets/fonts/PT-Root-UI/PT-Root-UI.ottt/PT-Root-UI_Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI';
  src: url('src/assets/fonts/PT-Root-UI/PT-Root-UI.web/PT-Root-UI_Medium.eot');
  src: local('PT Root UI Medium'), local('PTRootUI-Medium'),
    url('src/assets/fonts/PT-Root-UI/PT-Root-UI.web/PT-Root-UI_Medium.woff2') format('woff2'),
    url('src/assets/fonts/PT-Root-UI/PT-Root-UI.web/PT-Root-UI_Medium.woff') format('woff'),
    url('src/assets/fonts/PT-Root-UI/PT-Root-UI.ottt/PT-Root-UI_Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI';
  src: url('src/assets/fonts/PT-Root-UI/PT-Root-UI.web/PT-Root-UI_Bold.eot');
  src: local('PT Root UI Bold'), local('PTRootUI-Bold'),
    url('src/assets/fonts/PT-Root-UI/PT-Root-UI.web/PT-Root-UI_Bold.woff2') format('woff2'),
    url('src/assets/fonts/PT-Root-UI/PT-Root-UI.web/PT-Root-UI_Bold.woff') format('woff'),
    url('src/assets/fonts/PT-Root-UI/PT-Root-UI.ottt/PT-Root-UI_Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}